@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Cedarville+Cursive&family=Lobster&family=Montserrat:wght@100&family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital@1&family=Playfair+Display&family=Poppins&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Cedarville+Cursive&family=Lobster&family=Montserrat:wght@100&family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital@1&family=Playfair+Display&family=Poppins&family=Quicksand&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
.rj{
    padding: 25px 0px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-family: Quicksand, Arial, sans-serif;
}
.sections{
    margin: 10% 50px;
}
.container1{
    width: 80%;
    float: right;
}
.wrapper{
    display: flex;
    position: relative;
    
}
.img-header{
    border-radius: 50%;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 20%;
    background-color: #DCDCDC;
    height: 100%;
    text-align: center;
    padding: 45px 0px;
    margin-right: 5px;
    overflow-y: scroll;
}
.wrapper .sidebar ul li a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-family: Quicksand, Arial, sans-serif;
    transition: all 0.4s ease 0s;
}
.wrapper .sidebar ul li a:hover{
    color: rgb(44, 152, 240);
    border-bottom: 1px solid rgb(44, 152, 240);
}
.wrapper .sidebar ul li{
    padding: 15px 0px;
}
.copyright{
    user-select: none;
}
.home{
    padding: 10px;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("images/bg.jpg") no-repeat center center; 
     background-size: cover; 
    overflow: hidden;
}

.align{
    width: 85%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    /*Center div ver and hor*/
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.cv{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    border: 2px solid black; 
    padding: 15px 40px;
    margin: 15px 18px;
    color: black;
    background-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}
.cv:hover{
    background-color: #3f3e3e;
    color: white;
    border: 2px solid white;
}
i{
    padding: 0px 8px;
}
/*About US*/


.para{
    margin: 2em 0px;
    color: #999;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 11px;
}
.head{
    position: relative;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 3em;
    font-size: 18px;
}
.containertext{
    margin-top: 10px;
}
.text1{
    letter-spacing: 2px;
    line-height: 0.8cm;
    color: #999;
    font-weight: 600;
    font-size: 15px;
    text-align: justify;
    font-family: "Quicksand",Arial,sans-serif;
}
.rawan{
    color: rgb(109, 108, 108);
}
.graphic1, .graphic2, .graphic3{
    margin: 20px 0px;
}
.graphic1, .graphic2, .graphic3{
    margin-bottom: 70px;
    box-shadow: 0px 0px 56px -8px rgb(0 0 0 / 17%);
}
#icon1, #icon2, #icon3{
    
    font-size: 50px;
    margin-bottom: 20px;
    padding: 15px;
}
#icon1{
    color: blue;
}
.graphic1{
    margin-top: 4em;
    border-bottom: 4px solid blue;
}
#icon2{
    color: red;
}
.graphic2{
    border-bottom: 4px solid red;
}
#icon3{
    color: rgb(223, 223, 58);
}
.graphic3{
    border-bottom: 4px solid rgb(223, 223, 58);
}
.software, .web, .server{
    padding: 10px 15px;
    font-family: "Quicksand",Arial,sans-serif;
}
.projects{
    width: 100%;
    height: 200px;
    padding: 20px 15px;
    background: #f9bf3f;
}
.text2{
    font-family: Playfair Display, Georgia, serif;
    line-height: 1.5;
    padding: 20px 0;
    margin-bottom: 15px;
    margin:  10px 0px;
}
.link1{
    border: 2px solid black;
    background-color: transparent;
    text-decoration: none;
    padding: 5px 10px;
    color: rgb(43, 43, 43);
    text-transform: uppercase;
    transition: color 0.5s, background-color 0.4s, border 0.4s;
}
.link1:hover{
    color: black;
    background-color: white;
    border: 3px solid #c78b09;
}
/*My Skills*/
.expertise {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.expertise h2 {
    color: #000000;
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.expertise .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.expertise .container .item {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.expertise .container .item h3 {
    color: #e34c26;
    font-size: 24px;
    margin-bottom: 10px;
}

.expertise .container .item p {
    color: #333333;
    font-size: 16px;
}
/*Education Section*/
.togglebtn, .togglebtn1, .togglebtn2, .togglebtn3{
    padding: 20px 15px;
    background-color: #f2f3f7;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    margin: 5px 0px;
    transition: 0.5s;
    position: relative;
}
.heading, .heading1, .heading2, .heading3{
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Quicksand, Arial, sans-serif;
    font-size: 18px;
    transition: 0.5s;
}
.hidden, .hidden1, .hidden2, .hidden3{
    padding: 20px 15px;
    margin: 10px 0px;
    border: 2px solid #e6e6e6;
    transition: 0.3s;
}
.parahidden{
    margin: 1em;
    text-align: justify;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.5;
    font-weight: 400;
    font-size: 15px;
}
.sign, .sign1, .sign2, .sign3{
    position: absolute;
    right: 5%;
    font-size: 30px;
    top: 15%;
}

.signh, .signh1, .signh2, .signh3{
    display: none;
    transition: 0.3s;
    position: absolute;
    right: 5%;
    font-size: 35px;
    top: 15%;
}
/*Contacts*/
.container{
    overflow: hidden;
}
.contain{
    width: 100px;
    height: 90px;
    background-color: rgb(243, 239, 239);
    float: left;
}
#link{
    display: flexbox;
    align-items: center;
    margin-top: 25px;
    margin-left: 25%;
    color: #3c98f0;
    font-size: 35px;
    
}
.link{
    margin-top: 30px;
    float: left;
    margin-left: 35px;
}
.ltext{
    text-decoration: none;
    color: #2488e6;
    font-family: "Quicksand",Arial,sans-serif;
    font-size: 18px;
}
.info{
    font-family: "Quicksand",Arial,sans-serif;
    color: #333;
    font-size: 18px;
}
form{
    margin: 15px 0px;
}
input, textarea{
    padding: 20px 10px;
    width: 100%;
    background-color: rgb(243, 239, 239);
    border: none;
    margin-top: 15px;
    font-family: "Quicksand",Arial,sans-serif;
    color: #555;
    font-size: 18px;
}
input::placeholder, textarea::placeholder{
    font-size: 18px;
    color: #999;
}
button{
    margin-top: 15px;
    color: white;
    text-transform: uppercase;
    padding: 18px;
    background-color: #2488e6;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: #78bdfe;
    color:gray;
}